<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div><h1>gif Machine</h1></div>
    </div>
    <div class="col-xs-6 search">
      <form>
        <label for="search-term">Search for gifs</label>
        <input class="search" id="search-term" type="text" #queryInput>
        <button class="btn btn-primary" type="button" (click)="apiCall()">search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="gifs" class="jumbotron">
        <app-gif-panel        
          *ngFor="let gif of gifs"
          [gifPanel]="gif"
        ></app-gif-panel>
      </div>
    </div>
  </div>
</div>